In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [4]:
data = load_boston()
feature_names = data.feature_names
df_data= pd.DataFrame(data.data, columns=data.feature_names)
df_data['MEDV'] = pd.Series(data.target)
#data

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [6]:
new_data=df_data.drop('MEDV', axis=1, inplace=False)
data_target=df_data['MEDV']
#data_target
new_data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [7]:
polynomial_regression_meansquarerrors=[]
for i in range(1,8,1):
    
    #Generate polynomial and features
    poly = PolynomialFeatures(degree= i, include_bias=False)
    polynomial_features = poly.fit_transform(new_data)
    
    #Divide dataset after importing into Train/Cross Validation/Test
    X_train, X_test, y_train, y_test = train_test_split(polynomial_features, data_target, test_size=0.4, random_state=1)
    X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=1)
    
    #linear regression
    polynomialregression_model = LinearRegression()
    polynomialregression_model.fit(X_train, y_train)
    ypredicted_polynomialregression = polynomialregression_model.predict(X_val)
    polynomial_regression_meansquarerror = np.sqrt(mean_squared_error(y_val, ypredicted_polynomialregression))
    polynomial_regression_meansquarerrors.append(polynomial_regression_meansquarerror)

#minimium=min(polynomial_regression_meansquarerrors)
#minindex=indexOF(minimum)
#for i in range(0,len(polynomial_regression_meansquarerrors)):
#    x.append(polynomial_regression_meansquarerrors[i])


#print minimum mean square error to get the best degree
x=np.array(polynomial_regression_meansquarerrors)
print('the mean square error array is ' ,x) 
print('the mimimum value is' , np.min(polynomial_regression_meansquarerrors))
print('the minimum index of minimum value is ', np.argmin(polynomial_regression_meansquarerrors))
print('the best degree is ',np.argmin(polynomial_regression_meansquarerrors)+1)

the mean square error array is  [  5.45697193   5.70701612  75.68075672 259.7072196  291.33978138
 221.44143414 226.15136715]
the mimimum value is 5.456971927684733
the minimum index of minimum value is  0
the best degree is  1

In [8]:
# after getting the best DEGREE

#Generate polynomial and features
poly = PolynomialFeatures(degree= np.argmin(polynomial_regression_meansquarerrors)+1, include_bias=False)
polynomial_features = poly.fit_transform(new_data)

#Divide dataset after importing into Train/Cross Validation/Test
X_train, X_test, y_train, y_test = train_test_split(polynomial_features, data_target, test_size=0.4, random_state=1)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=1)

#linear regression
polynomialregression_model = LinearRegression()
polynomialregression_model.fit(X_train, y_train)
ypredicted_polynomialregression = polynomialregression_model.predict(X_test)
polynomial_regression_meansquarerror = np.sqrt(mean_squared_error(y_test, ypredicted_polynomialregression))
print(polynomial_regression_meansquarerror)

4.547289065278924

In [23]:
#Apply Regularization
from sklearn.linear_model import Lasso
#maxalpha_train=0
train_scoreArray=[]

alphaarray=[0.00001,0.0001,0.001,0.01,0.1] 
for i in alphaarray:
    lasso = Lasso(alpha=i, max_iter=10e5)
    lasso.fit(X_train,y_train)
    train_score=lasso.score(X_train,y_train)
    test_score=lasso.score(X_test,y_test)
    train_scoreArray.append(train_score)

    print ('the training score for alpha is  ' + str(i)  , train_score) 
    print ('the test score for alpha is ' + str(i)  , test_score)
print ('the best  train and test score was  ', max(train_scoreArray))

the training score for alpha is  1e-05 0.7468316515844864
the test score for alpha is 1e-05 0.7366333554323465
the training score for alpha is  0.0001 0.746831609061166
the test score for alpha is 0.0001 0.7366212347000438
the training score for alpha is  0.001 0.7468273562228122
the test score for alpha is 0.001 0.7364961612391743
the training score for alpha is  0.01 0.7464028354764276
the test score for alpha is 0.01 0.7348628113960634
the training score for alpha is  0.1 0.7324473082335632
the test score for alpha is 0.1 0.7156255257568283
the best  train and test score was   0.7468316515844864